{% extends "index.html" %}
{% load thumbnail %}

{% block main_picture %}

    {% thumbnail main_pictur.main_picture "1600x1600" crop="center" as im%}
        <section class="site-section-hero bg-image" style="background-image: url({{ im.url }});" data-stellar-background-ratio="0.5" id="section-home">
    {% endthumbnail %}
{#    <section class="site-section-hero bg-image" style="background-image: url({{ main_pictur.main_picture.url }});" data-stellar-background-ratio="0.5" id="section-home">#}
{% endblock %}


{% block pictures_list %}

    {% for picture in pictures %}
        {% thumbnail picture.picture "x350" crop="center" as im %}
        <div class="col-6 col-md-6 col-lg-4 spspsp" data-aos="fade-up">
            <a href="{{ picture.picture.url }}" class="d-block photo-item" data-fancybox="gallery">
                <img src="{{ im.url }}" alt="Image" class="img-fluid">
                    <div class="photo-text-more">
                        <span class="icon icon-search"></span>
                    </div>
            </a>
        </div>
        {% endthumbnail %}
    {% endfor %}

{% endblock %}

{#width="{{ im.width }}" height="{{ im.height }}"#}

{% block testimonial %}
    {% for testimonial in testimonials %}
        {% thumbnail testimonial.photo "655x655" crop="center" as im %}
            <div class="testimony text-center px-md-4">
                <figure class="mx-auto d-inline-block">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ testimonial.name_surname }}" class="mx-auto img-fluid w-25 rounded-circle">
                </figure>
                <p class="text-white"><strong>{{ testimonial.name_surname }}</strong></p>
                <blockquote>
                    <p>&ldquo;{{ testimonial.description }}&rdquo;</p>
                </blockquote>
            </div>
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
