{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AKVSHI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        {#        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">#}
        {#        <link rel="stylesheet" href="{% static "css/bootstrap-grid.css" %}">#}
        {#        <link rel="stylesheet" href="{% static "css/bootstrap-reboot.css" %}">#}
        <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">
        <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">
        <link rel="stylesheet" href="{% static "css/aos.css" %}">
        <link rel="stylesheet" href="{% static "css/fancybox.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
    <div class="site-logo">
      <a href="{% url "main" %}">AKVSHI Photo</a>
    </div>
    
    <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;">
        <a href="#" class="site-menu-toggle js-menu-toggle text-white">
            <span class="icon-menu h3"></span>
        </a>
    </div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        <li><a href="{% url "main" %}" class="nav-link">Home</a></li>
{#        <li><a href="#section-photos" class="nav-link">Photos</a></li>#}
{#        <li><a href="#section-bio" class="nav-link">Biography</a></li>#}
        <li><a href="{% url "blog" %}" class="nav-link">Blog</a></li>
        <li><a href="{% url "contact" %}" class="nav-link">Contact</a></li>
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="admin/"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header>

  <main class="main-content">

{% block main_picture %}

{% endblock %}

    <div class="container-fluid">

{% block pictures_list %}

{% endblock %}


{% block testimonial %}

{% endblock %}


{% block biography %}

{% endblock %}


{% block blog %}

{% endblock %}


{% block contact %}

{% endblock %}


{#      <section class="site-section darken-bg">#}
      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-1 darken-bg">
          <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
              <i class="icon-heart text-danger" aria-hidden="true"></i> by
              <a href="https://user1221.pythonanywhere.com" target="_blank" >AKVSHI</a>
            </p>
        </div>
      </div>
{#      </section>#}
    </div>
  </main>

</div> <!-- .site-wrap -->

  <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/jquery-ui.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/jquery.countdown.min.js" %}"></script>
  <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/validation.js" %}"></script>
    
  </body>
</html>